html {
  background-image: url(../img/large-banner-image.png);
  background-repeat: no-repeat;

}
div{
  position: absolute;
  width: 1600px;
  margin: auto;
}

h1{
  position: absolute;
  margin-left: 760px;
  margin-top: 100px;
  font-family: 'Pacifico';
  src: url('../font/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2');
  font-size: 70px;

}

#focusicon{
  position: absolute;
  margin-left: 680px;
  margin-top: 100px;
}

#topphrase{
  position: absolute;
  margin-left: 455px;
  margin-top: 235px;
  font-family: 'Raleway Light';
  src: url('../fonts/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2');
  font-size: 40px;


}

#toparrow{
  position: absolute;
  margin-left: 770px;
  margin-top: 330px;

}

#iphone{
  position: absolute;
  margin-left: 575px;
  margin-top: 408px;
}

#whiboxheader{
  position: absolute;
  margin-left: 295px;
  margin-top: 823px;
  


}



.greycontainer{
  position: absolute;
  width: 1600px;
  height: 422px;
  background-color: rgb(227, 227, 227);
  margin-top: 970px;
  margin-top: 1196px
}
