html {
  background-image: url('../img/large-banner-image.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 2131.968px;
  height: 933.312px;


}
#heading {
}

#heading > div {
  position: absolute;
  margin: auto;
  width: 2131.968px
}

#Focusimg {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
