html {
  background-image: url(../img/large-banner-image.png);
  background-repeat: no-repeat;

}
div{
  position: absolute;
  width: 1600px;
  margin: auto;


}

.greycontainer{
  position: absolute;
  width: 1600px;
  height: 422px;
  background-color: rgb(227, 227, 227);
  margin-top: 970px;
  margin-top: 1196px
}

.whitecontainer{
  position: absolute;
  width: 1600px;
  height: 700px;
  background-color: white;
  margin-top: 700px;

}
